/* mobile responsive related style  */

@media screen and (max-width: 576px) {
  .navItems,
  .teamContainer,
  .featureContainer,
  .factContainer,
  .sponsorImages {
    flex-direction: column;
    gap: 40px;
  }
  .navItems ul {
    gap: 15px;
  }

  .teamImages {
    grid-template-columns: 1fr;
  }

  .factContainer {
    padding: 0px 20px;
  }

  .sponsorHeader,
  .sectionHeader {
    padding: 0px 20px;
  }

  .featureImage {
    padding: 10px;
  }

  .tenYearsBadge {
    position: static;
    margin: auto;
  }
}

/* tablet responsive related style  */

@media screen and (min-width: 577px) and (max-width: 768px) {
  .navItems,
  .featureContainer,
  .sponsorImages {
    flex-direction: column;
    gap: 40px;
  }
  .navItems ul {
    gap: 15px;
  }

  .teamContainer {
    flex-direction: column-reverse;
  }

  .sectionHeader {
    padding: 0px 20px;
  }
  .featureContent {
    margin: auto;
  }
  .tenYearsBadge {
    position: static;
    margin: auto;
  }
}
