/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

/* Universal Style  */
* {
  margin: 0;
  padding: 0;
}

/* style using in body tag  */

body {
  font-family: "Work Sans", sans-serif;
}

/* common style  */

header {
  background-color: rgb(255, 244, 230);
}

section {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.primaryBtn {
  border: none;
  outline: none;
  padding: 15px 15px;
  border-radius: 5px;
  background-color: rgb(255, 144, 14);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.descText {
  color: #727272;
  padding: 15px 0px;
  font-size: 0.9rem;
}

/* navbar related style */

.brandsName,
.sectionTitle {
  color: #131313;
  font-size: 2rem;
  font-weight: 700;
}

.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.navItems ul {
  display: flex;
  gap: 30px;
}
.navItems ul li {
  list-style: none;
}
.navItems ul li a {
  color: #424242;
  text-decoration: none;
}

/* banner related style  */

.bannerDesc {
  max-width: 685px;
  margin: auto;
  text-align: center;
}
.bannerDesc h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
  padding-top: 50px;
}

.banner img {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* team section related style  */

.teamContainer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.teamImages img {
  width: 100%;
}

.teamImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.teamDesc {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 550px;
}

.teamDescTitle {
  font-size: 2.8rem;
}

.teamDescTitle .quickList {
  color: #727272;
  font-weight: 500;
}
.teamDescTitle .ofOur {
  font-weight: 600;
}
.teamDescTitle .feature {
  color: #ff900e;
  font-weight: 700;
}

/* fact section related style  */

.factContainer {
  display: flex;
  justify-content: space-around;
}

.factCard {
  border: 1px solid rgb(255, 144, 14);
  text-align: center;
  padding: 25px 20px;
  border-radius: 5px;
}

.cardTitle {
  font-weight: 600;
  font-size: 1rem;
  color: #727272;
}

.cardStats {
  font-size: 2.5rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* sponsors section related style  */

.sponsorHeader {
  text-align: center;
}

.sponsorImages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sponsorImages img {
  width: 150px;
  height: 40px;
}
